<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Posts</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  </style>
  <!-- 加載 moment.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>

<body>

  <input type="checkbox" id="menu-switch">
  <header class="main-header">
    <div class="logo">
      <a href="/">

        <h1>Metawall</h1>

      </a>
    </div>

    <label for="menu-switch" class="hb icon">
      <i class='bx bx-menu open'></i>
      <i class='bx bx-x close'></i>
    </label>

    <nav class="main-nav">
      <div class="userpic">
        <img class="userimg" src="images/day51-whale.png" alt="">
      </div>
      <div class="mobile">
        <a href="#"><i class='bx bx-file'></i>我的貼文牆</a>
        <a href="users/profile"><i class='bx bx-user'></i>修改個人資料</a>
        <a href="posts/logout"><i class='bx bx-log-out'></i>登出</a>
      </div>
      <div class="link">
        <details>
          <summary>Member</summary>
          <li>
            <a href="#"><i class='bx bx-file'></i>我的貼文牆</a>
            <a href="users/profile"><i class='bx bx-user'></i>修改個人資料</a>
            <a href="posts/logout"><i class='bx bx-log-out'></i>登出</a>
          </li>

        </details>
      </div>
      </div>
    </nav>
  </header>
  

  <div class="container">
    <div class="grope1">
      <div class="search">
        <div class="sort"><select name="NewPost" id="NewPost">
            <option value="" class="select">最新貼文</option>

          </select>
        </div>
        <div class="fifter">
          <input type="text" placeholder="搜尋貼文">
          <button class="btnSearch"><i class='bx bx-search'></i></button>
        </div>
      </div>
      <% posts.forEach(post => { %>
      <div class="main-card">
        <div class="pic-txt-item">
          <div class="pic">
            <% if (post.user) { %>
            <img src="<%= post.user.photo %>">
            <% } else { %>
            <img src="default-photo.jpg" alt="Default photo">
            <% } %>
          </div>
          <div class="txt">
            <h2><% if (post.user) { %><%= post.user.name %></h2><% } else { %><h2>Unknown user</h2><% } %></h2>
            <p><%= post.formattedDate %></p>
          </div>
        </div>
        <div class="post">
          <p> <%= post.content %></p>
        </div>
        <div class="image">
          <% if (post.image) { %>
          <img src="<%= post.image %>">
          <% } else { %>
          <p>No image available</p>
          <% } %>
        </div>
      </div>
      <% }) %>
    </div>




    <div class="groupe2">
      <div class="Post-updates">
        <div class="updates">
          <a href="#">張貼動態</a>
        </div>
        <div class="pics">
          <div class="pic"><img src="<%= user.photo %>"></div>
          <div class="txt"><%= user.name %></div>
        </div>
        <div class="pics">
          <div class="pic"><img src="https://picsum.photos/300/200/?random=17"></div>
          <div class="txt"><a href="#">追蹤名單</a></div>
        </div>
        <div class="pics">
          <div class="pic"><img src="https://picsum.photos/300/200/?random=18"></div>
          <div class="txt"><a href="#">我按讚的貼文</a></div>
        </div>
      </div>



    </div>
  </div>



  <script src="javascripts/main.js"></script>
</body>

</html>